{{ define "content" }}

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="md-5 py-5">
      <h4>累計来場者数: {{ .nov }}</h4>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="w-100 h-100">
      <canvas id="lineChart"></canvas>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-3">
        <div class="mb-5 flex-center">
          <!-- GitHub -->
          <a class="fb-ic" href="https://github.com/terfno">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/takahito.sueda">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/terfno_mai">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/terfno">
            <i class="fab fa-instagram fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright:
    <a href="https://github.com/terfno">terfno</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- SCRIPTS -->
<!-- JQuery -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
></script>
<!-- Bootstrap tooltips -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
></script>
<!-- Bootstrap core JavaScript -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
></script>
<!-- MDB core JavaScript -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"
></script>

<!-- chart -->
<script>
  var ctxL = document.getElementById("lineChart").getContext("2d");
  var myLineChart = new Chart(ctxL, {
    type: "line",
    data: {
      labels: [
        "0-1",
        "1-2",
        "2-3",
        "3-4",
        "4-5",
        "5-6",
        "6-7",
        "7-8",
        "8-9",
        "9-10",
        "10-11",
        "11-12",
        "12-13",
        "13-14",
        "14-15",
        "15-16",
        "16-17",
        "17-18",
        "18-19",
        "19-20",
        "20-21",
        "21-22",
        "22-23",
        "23-24",
      ],
      datasets: [
        {
          label: "過去24時間の来場者数の推移",
          data: [
            {{ range $i, $v := .datas}}
            {{ $v}},
            {{ end }}
          ],
          backgroundColor: ["rgba(105, 0, 132, .2)"],
          borderColor: ["rgba(200, 99, 132, .7)"],
          borderWidth: 2
        },
        {
          label: "平均",
          data: [
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
            {{ .avg }},
          ],
          backgroundColor: ["rgba(0, 137, 132, .2)"],
          borderColor: ["rgba(0, 10, 130, .7)"],
          borderWidth: 2
        }
      ]
    },
    options: {
      responsive: true
    }
  });
</script>

{{ end }}
