{{ define "content" }}

<div class="container">
  <!-- Material form register -->
  <div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
      <strong>Sign up</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">
      <!-- Form -->
      <form
        method="POST"
        action="./api/newrecep"
        id="formSubmit"
        style="color: #757575;"
        action="#!"
      >
        <div class="md-form">
          <div>
            <input
              type="search"
              id="form-age"
              name="age"
              class="form-control mdb-autocomplete"
            />
            <label for="form-age" class="active">
              年齢どれくらい?(0~4の数字だけ入力)
            </label>
            <p>0: 小さい子</p>
            <p>1: 10~20代</p>
            <p>2: 30~40代</p>
            <p>3: 50~60代</p>
            <p>4: 年寄り</p>
          </div>
        </div>
        <div class="md-form">
          <div>
            <input
              type="search"
              id="form-sex"
              name="sex"
              class="form-control mdb-autocomplete"
              onkeydown="if(event.ctrlKey&&event.keyCode==13){document.getElementById('submit').click();return false};"
            />
            <label for="form-sex" class="active">
              性別は?("man"か"woman"か"other"を入力)
            </label>
            <p>man: 男の人</p>
            <p>woman: 女の人</p>
            <p>other: それ以外</p>
          </div>
        </div>
        <!-- Sign up button -->
        <button
          class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
          type="submit"
        >
          入力!
        </button>
      </form>
      <!-- Form -->
    </div>
  </div>
  <!-- Material form register -->
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">
  <!-- Footer Elements -->
  <div class="container">
    <!-- Grid row-->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-12 py-3">
        <div class="mb-5 flex-center">
          <!-- GitHub -->
          <a class="fb-ic" href="https://github.com/terfno">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/takahito.sueda">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x">
            </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/terfno_mai">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/terfno">
            <i class="fab fa-instagram fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2019 Copyright:
    <a href="https://github.com/terfno">terfno</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- SCRIPTS -->
<!-- JQuery -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
></script>
<!-- jQuery UI -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link
  rel="stylesheet"
  href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
/>
<!-- Bootstrap tooltips -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
></script>
<!-- Bootstrap core JavaScript -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
></script>
<!-- MDB core JavaScript -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/js/mdb.min.js"
></script>

<!-- form -->
<script>
  var sex = ["man", "woman", "other"];

  $("#form-sex").autocomplete({
    source: sex
  });

  // $("#form-sex").keydown(function(e){
  //   if(((event.ctrlKey && !event.metaKey) || (!event.ctrlKey && e.metaKey)) && event.keyCode==13 && $(this).val()){
  //     $("#formSubmit").submit();
  //     return false
  //   }
  // })
</script>

{{ end }}
